.main-image img {
  width: 100%;
}

.headline {
  padding: 100px 0px;
  width: 560px;
  margin-left: 200px;
}

h2 {
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 18px;
}

h3 {
  font-style: italic;
  font-size: 26px;
  margin-bottom: 40px;
  line-height: 1.3;
  opacity: .5;
}

.byline {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 2px;
}

.container {
  padding-top: 50px;
  width: 60%;
  margin: 0 auto;
}

.container p {
  line-height: 1.6;
  margin-bottom: 20px;
}
